* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body > header {
    background-color: #1c271d;
    padding: 16px 0;
    color: aliceblue;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header li {
    display: inline;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: aliceblue;
    text-decoration: none;
}


.container {
    width: 100%;
    margin: 0 auto;

}
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
}
.articles article {
    width: 30%;
}

section {
    padding: 8px 0;
}

section h2, 
.articles article {
    margin-bottom: 16px;
}
.articles article h3 {
    margin-top: 16px;
    margin-bottom: 8px;
}

.articles article a { 
    background-color: #546855;
    color: rgb(240, 255, 244);
    border-radius: 5px;
    margin-top: 10px;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;

}

h1 {
        color: green;
}

#sports {
    background-color: #9fabf0;
}

#sports h2 {
    color: rgb(28, 36, 104);
}

#sports .articles article a { 
    background-color: rgb(28, 36, 104);;
}

#economy {
    background-color: #e2e7c9;
}

#economy h2 {
    color: rgb(66, 58, 8);
}

#economy .articles article a { 
    background-color: rgb(68, 58, 8);;
}

#entertainment {    
    background-color: rgb(205, 171, 236);
}

#entertainment h2 {    
    color: blueviolet;
}

#entertainment .articles article a { 
    background-color: blueviolet;;
}

#tech {
    background-color: rgb(181, 212, 240);
}

#tech h2 {
    color: rgb(24, 96, 163);
}

#tech .articles article a { 
    background-color: rgb(24, 96, 163);
}

.creation-date {
    color: #5a5a5a;
}

